body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 7em;
    overflow-x: hidden;
  }
  
  aside>a {
    display: inline-block;
  }

  .head {
    height: 100px;
    background-color: #705073;
    font-size: 36px;
    color: #ffffff;
    padding: 25px;
  }
  
  article {
    margin: 2.6%;
    padding: 3%;
    padding-top: 1%;
    margin-bottom: 5%;
    box-shadow: 6px 6px 8px rgb(55, 54, 54);
    border: 1px solid rgba(0, 0, .06, .06);
  }
  
  article>h2 {
    margin-top: 5%;
  }
  
  article img {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  article p {
    font-size: 1em;
  }
  
  aside {
    background-color: lightblue;
    text-align: center;
    padding-top: 40px;
    height: 100%;
  }
  
  aside.profile-aside {
    height: 100%;
  }
  
  button.close>span {
    font-size: 25px;
    color: #ffffff;
  }
  
  div.input-group {
    margin-top: 10%;
  }
  
  h1.news-title {
    padding: 2.8% 0 0 3%;
    color: lightblue;
    font-size: 3em;
    font-weight: 400;
  }
  
  img.profile-aside-pic {
    width: 80%;
    height: 80%;
    border-radius: 100%;
  }
  
  #addFriend:hover {
    color: #ffffff;
  }
  
  /* Elementos centrados vertical y horizontalmente */
  
  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .lefted {
    display: flex;
    justify-content: left;
    align-items: top;
  }