* {
    box-sizing: border-box;
}

html, 
body {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #211146;
}

header {
    height: 60px;
    font-size: 36px;
    color: #ffffff;
    padding: 25px;
  }

.logo-uss {
    margin-bottom: 1.5rem!important;
    width: 90px;
    height: 90px;
}

.container {
    margin-top: 50px;
}

.buttons-for-login,
.inputs-for-login {
    width: 300px;
    display: block;
    margin: auto;
}

input {
    color: #ffffff;
}

.input-field {
    color: #000000;
}

.btn {
    width: 100%;
}

.social-media {
    width: 100px;
    height: 40px;
    margin: auto;
}

.form-signin {
    border-radius: 5px;
    margin: auto;
    padding: 15px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    display: block;
}

.left {
    display: block;
}

.right {
    display: block;
}

.register {
    display: none;
    margin: auto;
    padding: 15px;
    text-align: center;
    color: #ffffff;
    position: absolute; 
}

.normas {
  border-radius: 10px;
  padding: 20px;
  margin: 30px;
  font-size: 14px;
  text-align: justify;
  background: #70507365;
  color: #524f4f;
  position: absolute;
  left: 400px;
  display: inline-block;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}


/* .form-signin  {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
} */

.icon-facebook:hover{
    background: #60708d;   
} 
.icon-google:hover{
    background: #b83e3e;  
}



@media screen and (min-width: 700px) {
  

  .register {
    display: none;
  } 
 
  /* .normas {
    top: 650px;
    left: 0;
    margin-right: 10px;
    display: block;
  } */
}

/* estilos para perfil */

.caja-post {
    font-family: Century,sans-serif;
    color: #303030;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    background: #bcc8e8;
    margin: 5px 70px;
    overflow: hidden;
    padding: 20px;
    border-radius: 25px 0px 25px 0px;
    -moz-border-radius: 25px 0px 25px 0px;
    -webkit-border-radius: 25px 0px 25px 0px;
    border: 1px solid #b9c2dc;
}

#dropdownMenu2{
    margin-left: 70px;
}

/* .dropdown-menu {
    margin-top: 10px;
} */


/* Estilos para Wall */

.nav-wrapper {
    background-color: #211146 !important;
  }

.sidenav-overlay {
    z-index: -1;
}

.wall-background {
    background-color: #ffffff;
  }


#perfil {
    border: #303030 solid;
    background: #ffffff;
    width: 70%;
    height: auto;
}
