html, body{
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

body {
    
    display: flex;
    -ms-flex-align: center;
    align-items: flex-start;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }

.logo-uss {
    margin-bottom: 1.5rem!important;
    width: 72px;
    height: 72px;
    
}


.form-signin{
    background-color: #705073;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    text-align: center;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.font-weight-normal {
    font-weight: 400!important;
}

.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.icon-facebook, .icon-google {
    border-radius: 20%;
    background: rgba(223, 223, 223, 0.4);
    cursor: pointer;
    
} 

.icon-facebook:hover{
    background: #ffffff;   
} 
.icon-google:hover{
    background: #b83e3e;  
}

img {
    height: 25px;  
    width: 25px;
    border-radius: 5px 5px 5px 5px;
}

